<footer class="footer-distributed">

    <div class="footer-left">

        <h3 id="pindFooter">Pinned</h3>

        <p class="footer-links">
            <a href='#' data-item='Home'>Home</a>·
            <a href="#">Articles</a> ·
            <a href="#">About</a> ·
            <a href="#">MyList</a> ·
        </p>

        <p class="footer-company-name">Pinned © 2020</p>

        <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook iconhov"></i></a>
            <a href="#"><i class="fab fa-twitter iconhov"></i></a>
            <a href="#"><i class="fab fa-linkedin iconhov"></i></a>
            <a href="#"><i class="fab fa-github iconhov"></i></a>

        </div>

    </div>

    <div class="footer-right">

        <p>Contact Us</p>

        <form action="#" method="post">

            <input type="text" name="email" placeholder="Email">
            <textarea name="message" placeholder="Message"></textarea>
            <button>Send</button>

        </form>

    </div>

</footer>