<footer class="footer-distributed">

    <div id="fottercontain">
        <!-- <ul class="menuItems2">
            <a id="anker2" href="" target="_blank">Pinned</a>

    
        </ul> -->
        <p> all rights reserved © 2020</p>
    </div>

</footer>