<nav>
    <ul class="menuItems">
        <a id="anker" href="/">
            <p>Pinned</p>
        </a>

        <li>
            <a href='/' data-item='Home'>Home</a>
        </li>
        <li>
            <a href='/about' data-item='About'>About</a>
        </li>


        <!-- <li id="mylist">
            <a href='#' data-item='My List'>My List</a>
        </li> -->
    </ul>
    <form action="/signupdata" method="GET" id="signupdata">

        <button class="login-btn ">Login<i id="logicon" class="fas fa-sign-in-alt"></i>
        </button>

    </form>
</nav>