
    <nav>
        <ul class="menuItems">
            <a id="anker" href="" target="_blank">Pinned</a>

            <li>
                <a href='#' data-item='Home'>Home</a>
            </li>
            <li>
                <a href='#' data-item='Articles'>Articles</a>
            </li>
            <li>
                <a href='#' data-item='About'>About</a>
            </li>


            <li id="mylist">
                <a href='#' data-item='My List'>My List</a>
            </li>

            <form action="/signupdata" method="GET" id="signupdata">

                <button class="login-btn-alt ">Log-out<i id="logicon" class="fas fa-sign-in-alt"></i>
                </button>

            </form>

        </ul>
    </nav>
