<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/styles/aboutUs.css">
</head>

<body>
    <header>

        <nav>
            <div id="sticky">

                <ul class="menuItems">
                    <a id="anker" href="" target="_blank">Pinned</a>

                    <li>
                        <a href='#' data-item='Home'>Home</a>
                    </li>
                    <li>
                        <a href='#' data-item='About'>About</a>
                    </li>
                    <li>
                        <a href='#' data-item='Articles'>Articles</a>
                    </li>
                    <li>
                        <a href='#' data-item='Blog'>Blog</a>
                    </li>
                    <li id="mylist">
                        <a href='#' data-item='myList'>myList</a>
                    </li>

                    <form action="/signupdata" method="POST" id="signupdata">

                        <button class="login-btn ">Login<i id="logicon" class="fas fa-sign-in-alt"></i> 
                    </button>

                    </form>

                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="card__collection clear-fix">
            <div class="cards cards--two">
                <img src="https://scontent.famm7-1.fna.fbcdn.net/v/t1.15752-9/115439081_726874314774278_5234770334929242104_n.jpg?_nc_cat=110&_nc_sid=ae9488&_nc_eui2=AeEYBQuVW_0KlinM_KctwHJjHXnIOWnnvnQdecg5aee-dJf9KfGMY9UPGuDuraPdipxJvN5WQnlHKJ2Ih3b9g-yv&_nc_ohc=r3ttRKOiOf0AX9PYdWQ&_nc_ht=scontent.famm7-1.fna&oh=c971fa2a04a346b08a1c123bb70960e5&oe=5F3A33ED"
                    class="img-responsive" alt="Cards Image">
                <span class="cards--two__rect"></span>
                <span class="cards--two__tri"></span>
                <p>Lucy Grace</p>
                <ul class="cards__list">
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
            </div>

            <div class="cards cards--three">
                <img src="https://scontent.famm7-1.fna.fbcdn.net/v/t1.0-9/90967032_3585031821571262_7966204670882349056_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_eui2=AeH__bXWKOLpxyoHwZL1ioF4liBK_8A73reWIEr_wDvetwKHlErzXqG5HrCmYThAYIcN7a6wUph8P5Q_atww3bG9&_nc_ohc=kEMy4Beq29QAX8Y9mNt&_nc_ht=scontent.famm7-1.fna&oh=28508b32898113852a9d0fd620e4fb1e&oe=5F3ADE4B">
                <span class="cards--three__rect-1">
                  <span class="shadow-1"></span>
                <p>Chris Levnon</p>
                </span>
                <span class="cards--three__rect-2">
                  <span class="shadow-2"></span>
                </span>
                <span class="cards--three__circle"></span>
                <ul class="cards--three__list">
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
            </div>
        </div>
        <div class="card__collection clear-fix">
            <div class="cards cards--two">
                <img src="https://scontent.famm7-1.fna.fbcdn.net/v/t1.15752-9/115439081_726874314774278_5234770334929242104_n.jpg?_nc_cat=110&_nc_sid=ae9488&_nc_eui2=AeEYBQuVW_0KlinM_KctwHJjHXnIOWnnvnQdecg5aee-dJf9KfGMY9UPGuDuraPdipxJvN5WQnlHKJ2Ih3b9g-yv&_nc_ohc=r3ttRKOiOf0AX9PYdWQ&_nc_ht=scontent.famm7-1.fna&oh=c971fa2a04a346b08a1c123bb70960e5&oe=5F3A33ED"
                    class="img-responsive" alt="Cards Image">
                <span class="cards--two__rect"></span>
                <span class="cards--two__tri"></span>
                <p>Lucy Grace</p>
                <ul class="cards__list">
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
            </div>

            <div class="cards cards--three">
                <img src="https://scontent.famm7-1.fna.fbcdn.net/v/t1.0-9/90967032_3585031821571262_7966204670882349056_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_eui2=AeH__bXWKOLpxyoHwZL1ioF4liBK_8A73reWIEr_wDvetwKHlErzXqG5HrCmYThAYIcN7a6wUph8P5Q_atww3bG9&_nc_ohc=kEMy4Beq29QAX8Y9mNt&_nc_ht=scontent.famm7-1.fna&oh=28508b32898113852a9d0fd620e4fb1e&oe=5F3ADE4B">
                <span class="cards--three__rect-1">
                  <span class="shadow-1"></span>
                <p>Chris Levnon</p>
                </span>
                <span class="cards--three__rect-2">
                  <span class="shadow-2"></span>
                </span>
                <span class="cards--three__circle"></span>
                <ul class="cards--three__list">
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
            </div>
        </div>

    </main>

    <!-- // Footer //  -->
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3 id="pindFooter">Pinned</h3>

            <p class="footer-links">
                <a href='#' data-item='Home'>Home</a>·
                <a href="#">About</a> ·
                <a href="#">Articles</a> ·
                <a href="#">Blog</a> ·
                <a href="#">MyList</a> ·
            </p>

            <p class="footer-company-name">Pinned © 2015</p>

            <div class="footer-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>

            </div>

        </div>

        <div class="footer-right">

            <p>Contact Us</p>

            <form action="#">

                <input type="text" name="email" placeholder="Email">
                <textarea name="message" placeholder="Message"></textarea>
                <button>Send</button>

            </form>

        </div>

    </footer>
    <!-- //End Footer //  -->
</body>

</html>