<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/styles/aboutUs.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>

<body>
    <div class="mainC">

        <%- include ('nav.ejs')  %>
            <main>

                <h2 id="who">0-1 Solutions !</h2>

                <div class="forCards">

                    <div class="card__collection clear-fix">
                        <div id="parLaith" class="cards cards--two">
                            <img src="imges/ll.jpg" class="img-responsive" alt="Cards Image" id="laithIMG">
                            <span class="cards--two__rect"></span>
                            <span class="cards--two__tri"></span>
                            <p>Laith Al Daree</p>
                            <ul class="cards__list">
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100001934396409" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/laith77839666" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://github.com/laith-2020" class="fab fa-github"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/laith-aldaree/" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>

                        </div>


                        <div id="parShella" class="cards cards--two">
                            <img src="imges/shela.jpg"
                                class="img-responsive" id="shellaImg" alt="Cards Image">
                            <span class="cards--two__rect"></span>
                            <span class="cards--two__tri"></span>
                            <p>Ahmad Shella</p>
                            <ul class="cards__list">
                                <li>
                                    <a href="https://www.facebook.com/ahmad.shella" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/home?lang=ar" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://github.com/AhmedShela" class="fab fa-github"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/ahmad-shela/" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>
                        </div>
                        <div id="parSwedani" class="cards cards--two">
                            <img id="swedaniIMG" src="imges/swedani.png" class="img-responsive" alt="Cards Image">
                            <span class="cards--two__rect"></span>
                            <span class="cards--two__tri"></span>
                            <p>Ahmad Swedani</p>
                            <ul class="cards__list">
                                <li>
                                    <a href="https://web.facebook.com/ahmadswedani2020" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/ahmad_swedani_" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://github.com/ahmad-swedani" class="fab fa-github"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/ahmadswedani/" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>
                        </div>
                        <div id="parIbrahim" class="cards cards--two">
                            <img id="ibrahemIMG" src="https://ca.slack-edge.com/TNGRRLUMA-U01238HFG5D-eb9440f7f99c-512" class="img-responsive" alt="Cards Image">
                            <span class="cards--two__rect"></span>
                            <span class="cards--two__tri"></span>
                            <p>Ibrahim Majdi</p>
                            <ul class="cards__list">
                                <li>
                                    <a href="https://web.facebook.com" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://github.com/IbrahimMajdi" class="fab fa-github"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/ibrahim-majdi" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </main>

            <!-- // Footer //  -->
            <%- include ('footer.ejs')  %>
                <!-- //End Footer //  -->
    </div>
    <script src="/js/forHeader.js"></script>
</body>

</html>