<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/styles/aboutUs.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>

<body>

    <%- include ('nav.ejs')  %>

    <h2 id="who">Who We Are !</h2>


    <p id="desc"> Led By Brothers Laith Al Daree ,Ahmad Swedani ,Ahmad Shella And Ibrahim Majdi We are a full stack web
        developers Where you get to deal Directly With the Creatives </p>


    <div class="card__collection clear-fix">
        <div id="parLaith" class="cards cards--two">
            <img src="https://scontent.famm7-1.fna.fbcdn.net/v/t1.15752-9/115439081_726874314774278_5234770334929242104_n.jpg?_nc_cat=110&_nc_sid=ae9488&_nc_eui2=AeEYBQuVW_0KlinM_KctwHJjHXnIOWnnvnQdecg5aee-dJf9KfGMY9UPGuDuraPdipxJvN5WQnlHKJ2Ih3b9g-yv&_nc_ohc=r3ttRKOiOf0AX9PYdWQ&_nc_ht=scontent.famm7-1.fna&oh=c971fa2a04a346b08a1c123bb70960e5&oe=5F3A33ED"
                class="img-responsive" alt="Cards Image">
            <span class="cards--two__rect"></span>
            <span class="cards--two__tri"></span>
            <p>Laith Al Daree</p>
            <ul class="cards__list">
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100001934396409" class="fab fa-facebook-f"></a>
                </li>
                <li>
                    <a href="https://twitter.com/laith77839666" class="fab fa-twitter"></a>
                </li>
                <li>
                    <a href="https://github.com/laith-2020" class="fab fa-github"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/laith-aldaree/" class="fab fa-linkedin-in"></a>
                </li>
            </ul>

        </div>


        <div id="parShella" class="cards cards--two">
            <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fscontent.famm7-1.fna.fbcdn.net%2Fv%2Ft1.0-9%2Fs960x960%2F94794728_3688182014590269_1267899428388208640_o.jpg%3F_nc_cat%3D107%26_nc_sid%3D85a577%26_nc_eui2%3DAeEs3dPdVhYHeJYoIQRU8Fr8v2QJyM1BT36_ZAnIzUFPfn-1PBZROpuDeiT3QLb-tudEj6Z1lEO3LzbdXDZXCHOe%26_nc_ohc%3DjJi4gq4QcgEAX8nd9yT%26_nc_oc%3DAQk5-Pp3zD76hBFUnLR6yeQbB1W6BV9jy79VyDDovSst_buvRFfCdGRdDXTVpm_y6L4%26_nc_ht%3Dscontent.famm7-1.fna%26_nc_tp%3D7%26oh%3D724960f5c54f0ab138b48fcb807ffc60%26oe%3D5F3B756B"
                class="img-responsive" id="shellaImg" alt="Cards Image">
            <span class="cards--two__rect"></span>
            <span class="cards--two__tri"></span>
            <p>Ahmad Shella</p>
            <ul class="cards__list">
                <li>
                    <a href="https://www.facebook.com/ahmad.shella" class="fab fa-facebook-f"></a>
                </li>
                <li>
                    <a href="https://twitter.com/home?lang=ar" class="fab fa-twitter"></a>
                </li>
                <li>
                    <a href="https://github.com/AhmedShela" class="fab fa-github"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ahmad-shela/" class="fab fa-linkedin-in"></a>
                </li>
            </ul>
        </div>
        <div id="parSwedani" class="cards cards--two">
            <img id="swedaniIMG" src="imges/swedani.png" class="img-responsive" alt="Cards Image">
            <span class="cards--two__rect"></span>
            <span class="cards--two__tri"></span>
            <p>Ahmad Swedani</p>
            <ul class="cards__list">
                <li>
                    <a href="https://web.facebook.com/ahmadswedani2020" class="fab fa-facebook-f"></a>
                </li>
                <li>
                    <a href="https://twitter.com/ahmad_swedani_" class="fab fa-twitter"></a>
                </li>
                <li>
                    <a href="https://github.com/ahmad-swedani" class="fab fa-github"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ahmadswedani/" class="fab fa-linkedin-in"></a>
                </li>
            </ul>
        </div>
        <div id="parIbrahim" class="cards cards--two">
            <img id="ibrahemIMG" src="https://ca.slack-edge.com/TNGRRLUMA-U01238HFG5D-eb9440f7f99c-512"
                class="img-responsive" alt="Cards Image">
            <span class="cards--two__rect"></span>
            <span class="cards--two__tri"></span>
            <p>Ibrahim Majdi</p>
            <ul class="cards__list">
                <li>
                    <a href="https://web.facebook.com" class="fab fa-facebook-f"></a>
                </li>
                <li>
                    <a href="https://twitter.com" class="fab fa-twitter"></a>
                </li>
                <li>
                    <a href="https://github.com/IbrahimMajdi" class="fab fa-github"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ibrahim-majdi" class="fab fa-linkedin-in"></a>
                </li>
            </ul>
        </div>

    </div>

    </main>

    <!-- // Footer //  -->
    <%- include ('footer.ejs')  %>
    <!-- //End Footer //  -->
</body>

</html>