<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articls</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="card-container">
        <div class="card card-1">
            <div class="card-img"><img class="card-img-hovered" src="https://source.unsplash.com/Qm_n6aoYzDs" /></div>
            <a href="" class="card-link">
                <div class="card-img-hovered"></div>
            </a>
            <div class="card-info">
                <div class="card-about">
                    <a class="card-tag tag-news">NEWS</a>
                    <div class="card-time">6/11/2020</div>
                </div>
                <h1 class="card-title">There have been big Tesla accident at New Jersey</h1>
                <div class="card-creator">by <a href="">Sardorbek Usmonov</a></div>
            </div>
        </div>
        <div class="card card-2">
            <div class="card-img"></div>
            <a href="" class="card-link">
                <div class="card-img-hovered"></div>
            </a>
            <div class="card-info">
                <div class="card-about">
                    <a class="card-tag tag-news">NEWS</a>
                    <div class="card-time">6/11/2020</div>
                </div>
                <h1 class="card-title">There have been big Tesla accident at New Jersey</h1>
                <div class="card-creator">by <a href="">Sardorbek Usmonov</a></div>
            </div>
        </div>
        <div class="card card-3">
            <div class="card-img"></div>
            <a href="" class="card-link">
                <div class="card-img-hovered"></div>
            </a>
            <div class="card-info">
                <div class="card-about">
                    <a class="card-tag tag-news">NEWS</a>
                    <div class="card-time">6/11/2020</div>
                </div>
                <h1 class="card-title">There have been big Tesla accident at New Jersey</h1>
                <div class="card-creator">by <a href="">Sardorbek Usmonov</a></div>
            </div>
        </div>
        <div class="card card-4">
            <div class="card-img"></div>
            <a href="" class="card-link">
                <div class="card-img-hovered"></div>
            </a>
            <div class="card-info">
                <div class="card-about">
                    <a class="card-tag tag-news">NEWS</a>
                    <div class="card-time">6/11/2020</div>
                </div>
                <h1 class="card-title">There have been big Tesla accident at New Jersey</h1>
                <div class="card-creator">by <a href="">Sardorbek Usmonov</a></div>
            </div>
        </div>
    </div>
</body>

</html>