<!DOCTYPE html>


<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <header>

    <section id="topbar">
      <nav>
        <ul class="menuItems">
          <li><a href='#' data-item='Home'>Home</a></li>
          <li><a href='#' data-item='About'>About</a></li>
          <li><a href='#' data-item='Articles'>Articles</a></li>
          <li><a href='#' data-item='Blog'>Blog</a></li>
          <li id="sign-in"><a href='#' data-item='sign-in'>sign-in</a></li>
          <li id="sign-up"><a href='#' data-item='sign-up'>sign-up</a></li>
        </ul>
      </nav>
    </section>
  </header>

  <main>


  </main>
  
  <footer>

  </footer>
</body>

</html>