<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header>

        <section id="topbar">
            <nav>
                <ul class="menuItems">
                    <li>
                        <a href='#' data-item='Home'>Home</a>
                    </li>
                    <li>
                        <a href='#' data-item='About'>About</a>
                    </li>
                    <li>
                        <a href='#' data-item='Articles'>Articles</a>
                    </li>
                    <li>
                        <a href='#' data-item='Blog'>Blog</a>
                    </li>

                    <form action="/signupdata" method="POST" id="signupdata">
                        <button class="submit-btn" name="msg" value="defulte">
                            signin
                        </button>
                    </form>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <!-- for search  -->
        <div id="cover">
            <form method="POST" action="/search">
                <div class="tb">
                    <div  class="td"><input class="inputTextSearch" id="idForAppend" name="search" type="text" placeholder="Search" value="" required></div>
                    <div class="td" id="s-cover">
                        <button id="searchBtn" class="searchButton" type="submit">
                            <div id="s-circle"></div>
                            <span></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- end search  -->

        <div class="buttons">
            <h2 id="butTitle">CHOOSE WHAT INTEREST YOU </h2>

                <div class="mainDiv">
                    <div id="interestcon" class="container">
                        <ul class="ks-cboxtags">
                            <li><input type="checkbox" id="checkboxOne" value="space"><label for="checkboxOne" >space</label></li>
                            <li><input type="checkbox" id="checkboxTwo" value="cars" ><label for="checkboxTwo">cars</label></li>
                            <li><input type="checkbox" id="checkboxThree" value="sport" ><label for="checkboxThree">sport</label></li>
                            <li><input type="checkbox" id="checkboxFour" value="food"><label for="checkboxFour">food</label></li>
                            <li><input type="checkbox" id="checkboxFive" value="cooking"><label for="checkboxFive">cooking</label></li>
                            <li><input type="checkbox" id="checkboxSix" value="animals" ><label for="checkboxSix">animals</label></li>
                            <li><input type="checkbox" id="checkboxSeven" value="ants"><label for="checkboxSeven">ants</label></li>
                            <li><input type="checkbox" id="checkboxEight" value="history"><label for="checkboxEight">history</label></li>
                            <li><input type="checkbox" id="checkboxNine" value="movies"><label for="checkboxNine">movies</label></li>
                            <li><input type="checkbox" id="checkboxTen" value="technology"><label for="checkboxTen">technology</label></li>
                            <!-- <li class="ks-selected"><input type="checkbox" id="checkboxEleven" value="Discord"><label for="checkboxEleven">Discord</label></li>
                            <li><input type="checkbox" id="checkboxTwelve" value="Clover"><label for="checkboxTwelve">Clover</label></li>
                            <li><input type="checkbox" id="checkboxThirteen" value="Baby Moondancer"><label for="checkboxThirteen">Baby
                                    Moondancer</label></li>
                            <li><input type="checkbox" id="checkboxFourteen" value="Medley"><label for="checkboxFourteen">Medley</label></li>
                            <li><input type="checkbox" id="checkboxFifteen" value="Firefly"><label for="checkboxFifteen">Firefly</label></li> -->
                        </ul>

                    </div>

                </div>
        </div>



        <div class="w3-content w3-display-container">
            <% let arr = [] %>
                <% for(let i = 0; i < allArticles.length; i++){ %>
                    <%   arr.push(allArticles[i]) %>
                        <%    if(arr.length == 3){ %>
                            <div class="w3-display-container mySlides">
                                <div id='mainNews'>
                                    <div class="cardsNews">
                                        <%      arr.forEach(item =>{ %>
                                            <div class="cardNews contentNews">
                                                <div class="cardNews-content">
                                                    <div class="cardNews-img">
                                                        <img src="<%= item.img %>" alt="Gamer">
                                                    </div>
                                                    <div class="cardNews-label">
                                                        <%= item.source %>
                                                    </div>
                                                    <div class="cardNews-title">
                                                        <%= item.title %>
                                                    </div>
                                                </div>
                                            </div>
                                            <%    }) %>
                                    </div>
                                </div>
                            </div>
                            <%    arr = []; %>
                                <%    } %>
                                    <%  } %>


                                        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
                                        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

        </div>

    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/userintrest.js" ></script>
</body>

</html>