<!DOCTYPE html>



<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header>
        <nav>
            <h1>Pinned</h1>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Articles</a></li>
                <li><a href="">Books</a></li>
                <li><a href="">Blog</a></li>
            </ul>
            <select name="select" id="">My list</select>
        </nav>

    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>

</html>