<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
    <link rel="stylesheet" href="/styles/registration.css">
</head>
<body>
    <!-- <div>
        <form action="/signin" method="POST" id="signIn">
            <label for="username">User Name</label>
            <input type="text" id="username" name="UserName" value="" placeholder="User Name">
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" value="" placeholder="Password">
            <button id="btnsignin" type="submit" >sign in</button>
        </form>
    </div>
    <br>
    <div>
        <form action="/signup" method="POST" id="signUp">
            <label for="username">User Name</label>
            <input type="text" id="username" name="UserName" value="" placeholder="User Name">
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" value="" placeholder="Password">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmpassword" name="confirmPassword" value="" placeholder="confirm password">
            <button id="btnsignin" type="submit" >sign in</button>
        </form>
    </div> -->
    <main>
        <div class="form-structor">
            <form action="/signup" method="POST" id="signUp">
                <div class="signup">
                <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
                <div class="form-holder">
                    <input type="text" class="input" name="UserName" value="" placeholder="Name">
                    <input type="email" class="input" name="Email" value="" placeholder="Email">
                    <input type="password" class="input" name="Password" value="" placeholder="Password">
                    <input type="password" class="input" name="confirmPassword" value="" placeholder="confirm password">
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                </div>
                <button class="submit-btn" type="submit">Sign up</button>
            </div>
            </form>
            <% result = ;; %>
            <form action="/signin" method="POST" id="signIn">
                <div class="login slide-up">
                <div class="center">
                    <h2 class="form-title" id="login"><span>or</span>Log in</h2>
                    <div class="form-holder">
                    <input type="email" class="input" name="Email" value="" placeholder="Email">
                    <input type="password" class="input" name="Password" value="" placeholder="Password">
                    </div>
                    <button class="submit-btn">Log in</button>
                    
                </div>
            </div>
            </form>
        </div>
    </main>
 <script src="/js/registration.js"></script>
</body>
</html>