* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
}


/* ///// card About /////  */

@media (min-width: 1960px) and (max-width: 4000px) {
    @import "https://fonts.googleapis.com/css?family=Do+Hyeon";
    .clear-fix:after {
        display: block;
        clear: both;
        content: '';
    }
    #shellaImg {
        height: 100%;
    }
    #swedaniIMG {
        height: 100%;
    }
    #ibrahemIMG {
        height: 100%;
    }
    #laithIMG {
        height: 100%;
    }
    .img-responsive {
        max-width: 100%;
        height: auto;
    }
    .forCards .card__collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
    }
    .card__collection {
        margin: auto auto;
        position: relative;
        display: block;
        padding: 10px;
        font-family: 'Do Hyeon', sans-serif;
    }
    .card__collection .cards {
        width: 20%;
        display: block;
        background-size: cover;
        float: left;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        background-position: center;
        margin: 10px;
    }
    /* .card__collection .cards--one {
    backface-visiblility: hidden;
} */
    .card__collection .cards--one:hover:after {
        bottom: -20px;
    }
    .card__collection .cards--one:hover:before {
        bottom: -10px;
    }
    .card__collection .cards--one:hover .cards--one__rect {
        left: 45%;
    }
    .card__collection .cards--one:hover .cards--one__rect--back {
        left: 50%;
    }
    .card__collection .cards--one::after {
        content: '';
        display: block;
        position: absolute;
        height: 70px;
        transform: rotate(-3deg);
        background: #e660e3;
        position: absolute;
        bottom: -80px;
        left: 0;
        right: -10px;
        z-index: 9;
        transition: all .2s ease-in;
        transition-delay: .3s;
    }
    .card__collection .cards--one:before {
        content: '';
        display: block;
        position: absolute;
        height: 80px;
        transform: rotate(-3deg);
        bottom: -90px;
        left: 0;
        background: #fff;
        right: -10px;
        z-index: 5;
        transition: all .2s ease-in;
        transition-delay: .1s;
    }
    .card__collection .cards--one__rect {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        background: #0f9bc0;
        width: 126px;
        height: 55px;
        transform: skewY(5deg);
        position: absolute;
        display: block;
        top: 60%;
        left: -45%;
        z-index: 1;
        line-height: 3.3rem;
        text-align: center;
        transition: all .2s ease-in;
    }
    .card__collection .cards--one__rect--back {
        display: block;
        background: rgba(34, 65, 154, 0.8);
        width: 126px;
        height: 55px;
        transform: skewY(7deg);
        position: absolute;
        top: 65%;
        left: -50%;
        transition: all .2s ease-in;
        transition-delay: .3s;
    }
    .card__collection .cards--one__rect p {
        transform: skewY(-7deg);
        position: relative;
    }
    .card__collection .cards--two {
        position: relative;
        backface-visibility: hidden;
    }
    .card__collection .cards--two p {
        position: absolute;
        top: 83%;
        left: -100%;
        text-transform: capitalize;
        color: #fff;
        font-size: 20px;
        z-index: 8;
        transition: all .6s ease;
    }
    .card__collection .cards--two:hover p {
        left: 8%;
    }
    .card__collection .cards--two:hover img {
        transform: translateY(-15px);
    }
    .card__collection .cards--two:hover .cards--two__rect {
        top: 75%;
    }
    .card__collection .cards--two:hover .cards--two__rect:before {
        transform: translateY(15px);
    }
    .card__collection .cards--two:hover li {
        transform: translateY(0);
    }
    .card__collection .cards--two:hover .cards--two__tri {
        right: -40%;
    }
    .card__collection .cards--two:hover .cards--two__tri:before {
        right: -312px;
    }
    .card__collection .cards--two img {
        transition: all .2s ease;
    }
    .card__collection .cards--two__tri {
        border-top: 170px solid transparent;
        border-bottom: 150px solid transparent;
        border-right: 220px solid #fff;
        opacity: .9;
        position: absolute;
        display: block;
        top: 45px;
        right: -100%;
        transition: all .3s ease-in-out;
    }
    .card__collection .cards--two__tri:before {
        border-top: 220px solid transparent;
        border-bottom: 190px solid transparent;
        border-right: 288px solid #d9524a;
        position: absolute;
        content: '';
        display: block;
        top: -220px;
        right: -612px;
        transition: all .3s ease-in-out;
        transition-delay: .2s;
    }
    .card__collection .cards--two__rect {
        width: 242%;
        height: 184px;
        background: #fff;
        display: block;
        position: absolute;
        top: 220%;
        left: -82%;
        transform: rotate(30deg);
        z-index: 5;
        opacity: .9;
        transition: all .3s ease-in-out;
    }
    .card__collection .cards--two__rect:before {
        content: '';
        display: block;
        width: 100%;
        position: relative;
        height: 100%;
        background: black;
        transform: translateY(200px);
        z-index: 2;
        transition: all .3s ease-in-out;
        transition-delay: .1s;
    }
    .card__collection .cards--two ul {
        list-style: none;
        position: absolute;
        bottom: 0;
        left: 10px;
        z-index: 9;
    }
    .card__collection .cards--two ul li {
        display: inline-block;
        font-size: 16px;
        margin: 7px;
        color: #fff;
        transition: all .2s ease-in-out;
        transform: translateY(100px);
    }
    .card__collection .cards--two ul li:nth-child(2) {
        transition-delay: .2s;
    }
    .card__collection .cards--two ul li:nth-child(3) {
        transition-delay: .3s;
    }
    .card__collection .cards--two ul li:nth-child(4) {
        transition-delay: .4s;
    }
    /* ////////////////////// */
    @keyframes animate {
        0% {
            background-position: -500%;
        }
        100% {
            background-position: 500%;
        }
    }
    @-webkit-keyframes blink {
        20%,
        24%,
        55% {
            color: #111;
            text-shadow: none;
        }
        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
            color: #fccaff;
            text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff, 0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
            text-shadow: 0 0 5px #d9524a, 0 0 15px #d9524a, 0 0 20px #d9524a, 0 0 40px #d9524a, 0 0 60px #ff0000, 0 0 10px #d9524a, 0 0 98px #d9524a;
            color: #fff6a9;
        }
    }
    @keyframes blink {
        20%,
        24%,
        55% {
            color: #111;
            text-shadow: none;
        }
        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
            /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
            text-shadow: 0 0 5px black, 0 0 15px black, 0 0 20px black, 0 0 40px black, 0 0 60px #ff0000, 0 0 10px black, 0 0 98px #ff0000;
            /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000; */
            color: #d9524a;
        }
    }
    /* ///// end laith name ////  */
    #who {
        font-size: calc(2% + 10vh);
        line-height: calc(3% + 20vh);
        text-shadow: 0 0 5px black, 0 0 15px black, 0 0 25px black, 0 0 20px black, 0 0 30px black, 0 0 80px black, 0 0 80px black;
        color: #fccaff;
        text-shadow: 0 0 5px #d9524a, 0 0 15px #d9524a, 0 0 20px #d9524a, 0 0 40px #d9524a, 0 0 60px #d9524a, 0 0 10px #d9524a, 0 0 98px #d9524a;
        color: #fff6a9;
        font-family: 'Kadwa';
        text-align: center;
        animation: blink 12s infinite;
        -webkit-animation: blink 12s infinite;
    }
}


/* /////// for desktop ///////  */

@media (min-width: 600px) and (max-width: 1960px) {
    @import "https://fonts.googleapis.com/css?family=Do+Hyeon";
    .clear-fix:after {
        display: block;
        clear: both;
        content: '';
    }
    #shellaImg {
        height: 400px;
    }
    #swedaniIMG {
        height: 400px;
    }
    #ibrahemIMG {
        height: 400px;
    }
    .img-responsive {
        max-width: 100%;
        height: auto;
    }
    .forCards .card__collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
    }
    .card__collection {
        /* margin: 70px auto auto 70px; */
        margin: auto auto;
        position: relative;
        display: block;
        padding: 10px;
        font-family: 'Do Hyeon', sans-serif;
        /* overflow: hidden; */
    }
    .card__collection .cards {
        width: 300px;
        height: 400px;
        display: block;
        background-size: cover;
        float: left;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        background-position: center;
        margin: 10px;
    }
    /* .card__collection .cards--one {
    backface-visiblility: hidden;
} */
    .card__collection .cards--one:hover:after {
        bottom: -20px;
    }
    .card__collection .cards--one:hover:before {
        bottom: -10px;
    }
    .card__collection .cards--one:hover .cards--one__rect {
        left: 45%;
    }
    .card__collection .cards--one:hover .cards--one__rect--back {
        left: 50%;
    }
    .card__collection .cards--one::after {
        content: '';
        display: block;
        position: absolute;
        height: 70px;
        transform: rotate(-3deg);
        background: #e660e3;
        position: absolute;
        bottom: -80px;
        left: 0;
        right: -10px;
        z-index: 9;
        transition: all .2s ease-in;
        transition-delay: .3s;
    }
    .card__collection .cards--one:before {
        content: '';
        display: block;
        position: absolute;
        height: 80px;
        transform: rotate(-3deg);
        bottom: -90px;
        left: 0;
        background: #fff;
        right: -10px;
        z-index: 5;
        transition: all .2s ease-in;
        transition-delay: .1s;
    }
    .card__collection .cards--one__rect {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        background: #0f9bc0;
        width: 126px;
        height: 55px;
        transform: skewY(5deg);
        position: absolute;
        display: block;
        top: 60%;
        left: -45%;
        z-index: 1;
        line-height: 3.3rem;
        text-align: center;
        transition: all .2s ease-in;
    }
    .card__collection .cards--one__rect--back {
        display: block;
        background: rgba(34, 65, 154, 0.8);
        width: 126px;
        height: 55px;
        transform: skewY(7deg);
        position: absolute;
        top: 65%;
        left: -50%;
        transition: all .2s ease-in;
        transition-delay: .3s;
    }
    .card__collection .cards--one__rect p {
        transform: skewY(-7deg);
        position: relative;
    }
    .card__collection .cards--two {
        position: relative;
        backface-visibility: hidden;
    }
    .card__collection .cards--two p {
        position: absolute;
        top: 83%;
        left: -100%;
        text-transform: capitalize;
        color: #fff;
        font-size: 20px;
        z-index: 8;
        transition: all .6s ease;
    }
    .card__collection .cards--two:hover p {
        left: 8%;
    }
    .card__collection .cards--two:hover img {
        transform: translateY(-15px);
    }
    .card__collection .cards--two:hover .cards--two__rect {
        top: 75%;
    }
    .card__collection .cards--two:hover .cards--two__rect:before {
        transform: translateY(15px);
    }
    .card__collection .cards--two:hover li {
        transform: translateY(0);
    }
    .card__collection .cards--two:hover .cards--two__tri {
        right: -20%;
    }
    .card__collection .cards--two:hover .cards--two__tri:before {
        right: -312px;
    }
    .card__collection .cards--two img {
        transition: all .2s ease;
    }
    .card__collection .cards--two__tri {
        border-top: 170px solid transparent;
        border-bottom: 150px solid transparent;
        border-right: 220px solid #fff;
        opacity: .9;
        position: absolute;
        display: block;
        top: 45px;
        right: -100%;
        transition: all .3s ease-in-out;
    }
    .card__collection .cards--two__tri:before {
        border-top: 220px solid transparent;
        border-bottom: 190px solid transparent;
        border-right: 288px solid #d9524a;
        position: absolute;
        content: '';
        display: block;
        top: -220px;
        right: -612px;
        transition: all .3s ease-in-out;
        transition-delay: .2s;
    }
    .card__collection .cards--two__rect {
        width: 242%;
        height: 184px;
        background: #fff;
        display: block;
        position: absolute;
        top: 220%;
        left: -82%;
        transform: rotate(30deg);
        z-index: 5;
        opacity: .9;
        transition: all .3s ease-in-out;
    }
    .card__collection .cards--two__rect:before {
        content: '';
        display: block;
        width: 100%;
        position: relative;
        height: 100%;
        background: black;
        transform: translateY(200px);
        z-index: 2;
        transition: all .3s ease-in-out;
        transition-delay: .1s;
    }
    .card__collection .cards--two ul {
        list-style: none;
        position: absolute;
        bottom: 0;
        left: 10px;
        z-index: 9;
    }
    .card__collection .cards--two ul li {
        display: inline-block;
        font-size: 16px;
        margin: 7px;
        color: #fff;
        transition: all .2s ease-in-out;
        transform: translateY(100px);
    }
    .card__collection .cards--two ul li:nth-child(2) {
        transition-delay: .2s;
    }
    .card__collection .cards--two ul li:nth-child(3) {
        transition-delay: .3s;
    }
    .card__collection .cards--two ul li:nth-child(4) {
        transition-delay: .4s;
    }
    /* ////////////////////// */
    @keyframes animate {
        0% {
            background-position: -500%;
        }
        100% {
            background-position: 500%;
        }
    }
    @-webkit-keyframes blink {
        20%,
        24%,
        55% {
            color: #111;
            text-shadow: none;
        }
        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
            color: #fccaff;
            /* text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff, 0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
            /* text-shadow: 0 0 5px #d9524a, 0 0 15px #d9524a, 0 0 20px #d9524a, 0 0 40px #d9524a, 0 0 60px #ff0000, 0 0 10px #d9524a, 0 0 98px #d9524a; */
            /* color: #fff6a9; */
        }
    }
    @keyframes blink {
        20%,
        24%,
        55% {
            color: #111;
            text-shadow: none;
        }
        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
            /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
            text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 4px black, 0 0 6px #ff0000, 0 0 8px black, 0 0 10px #ff0000;
            /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000; */
            color: #d9524a;
        }
    }
    /* ///// end laith name ////  */
    #who {
        font-size: calc(9% + 8vh);
        line-height: calc(21% + 23vh);
        text-shadow: 0 0 2px black, 0 0 15px black, 0 0 25px black, 0 0 20px black, 0 0 30px black, 0 0 80px black, 0 0 80px black;
        color: #fccaff;
        text-shadow: 0 0 2px #d9524a, 0 0 15px #d9524a, 0 0 20px #d9524a, 0 0 40px #d9524a, 0 0 60px #d9524a, 0 0 10px #d9524a, 0 0 98px #d9524a;
        color: #fff6a9;
        font-family: 'Kadwa';
        text-align: center;
        animation: blink 12s infinite;
        -webkit-animation: blink 12s infinite;
    }
}