
/* ////// new nav Bar //////  */

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
nav {
    background: #1c1d22;
    ;
}

.menuItems {
    display: flex;
    height: 80px;
    list-style: none;
}


/* ///////////////////// */

@keyframes tipsy {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}

#anker {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin-right: 6%;
    padding-left: 20px;
    transform: translateX(35%) translateY(15%);
}

#anker:before,
#anker:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 55%;
    width: 100%;
    top: 40%;
    display: block;
    border: 7px solid red;
    transform: translateX(50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
}

#anker:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
}

#anker:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}


/* ///////////////////////// */

.menuItems li {
    margin-top: 30px;
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
}

.menuItems li a {
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.45s;
}

.menuItems li:hover {
    background: url("data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
}

.menuItems li:hover a {
    color: #d94f5c;
}

.menuItems li:not(:last-child) {
    margin-right: 30px;
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}

#mylist {
    margin-left: 31%;
    color: black;
}

.login-btn {
    margin-top: 20px;
    font-family: Hack, monospace;
    background: #d9524a;
    color: white;
    cursor: pointer;
    font-size: 2em;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 165px;
    margin-left: 380%;
}
.login-btn-alt {
    margin-top: 20px;
    font-family: Hack, monospace;
    background: #d9524a;
    color: white;
    cursor: pointer;
    font-size: 2em;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 165px;
}

.login-btn::after {
    font-weight: 400;
    position: absolute;
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.login-btn:hover {
    transition: all 0.5s;
    border-radius: 10px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    color: black;
}

.login-btn:hover::after {
    opacity: 1;
    transition: all 0.5s;
    color: black;
}

#logicon {
    display: none;
}

.login-btn:hover #logicon {
    display: inline;
}


/* ///// end nav bar //////  */



