@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');

/* font-family: 'Kadwa', serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,900");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body,
html {
    background: rgb(255, 255, 255);
    height: 100%;
    position: relative;
}

/* override W3 styles */
.w3-content {
    max-width: 1400px !important;
    margin-bottom: 50px !important;

}

/* /////////// slider /////// */

#firstDiv {
    display: inline-block;
    width: 50%;
    height: 300px;
}

#secondDiv {
    display: inline-block;
    width: 45%;
    height: 300px;
}

#second1 {
    display: block;
    height: 150px;
}

#second2 {
    display: block;
    height: 150px;
}

.mySlides {
    display: none;
}

.firstImg {
    width: 100%;
    height: 300px;
}

.secondImg {
    width: 100%;
    height: 150px;
}

.therdImg {
    width: 100%;
    height: 150px;
}


/* End Slider  */


/* for the three img inside the slider  */

#heroTit {
    margin-top: 50px;
    display: block;
    text-align: center;
}


#mainTit {
    font-size: 70px;
    line-height: 80px;
    font-family: 'Playfair Display', serif;
}

#secondTit {
    font-size: 22px;
    line-height: 28px;
    font-family: 'Roboto';
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

/* line  style*/
.subtitle {
    margin-top: 20px;
}

.fancy {
    line-height: 0.5;
    text-align: center;
}

.fancy #line {
    display: inline-block;
    position: relative;
}

.fancy #line:before,
.fancy #line:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid rgb(0, 0, 0);
    /* border-top: 1px solid white; */
    top: 0;
    width: 200px;
}

.fancy #line:before {
    right: 100%;
    margin-right: 15px;
}

.fancy #line:after {
    left: 100%;
    margin-left: 15px;
}


/*line style end  */

#PinnedLogoText {
    font-family: 'Varela';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
}


#newsPar {
    margin-left: 13%;
    margin-top: 5%;

}

#newsPar h3 {
    font-family: 'Varela' !important;
    font-weight: bold !important;
}


#bottick {
    content: "";
    height: 5px;
    background: #d9524a;
    width: 35px;
    top: 30px;
    border-radius: 3px;
}


#mainNews {
    width: 100%;
    /* margin-top: 90px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsNews {
    width: calc(100% - 2em);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas: "a a b b""a a c c";
    width: 80%;
}

.cardNews {
    width: 100%;
    position: relative;
    transition: all 0.25s ease;
    cursor: pointer;
}

.cardNews:last-child {
    margin-bottom: 0;
}

.cardNews:before {
    height: 0;
    content: "";
    display: block;
    padding-bottom: 47.36%;
}

.cardNews.contentNews:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

.cardNews:nth-child(1) {
    grid-area: a;
}

.cardNews:nth-child(2) {
    grid-area: b;
}

.cardNews:nth-child(3) {
    grid-area: c;
}

.cardNews:nth-child(4) {
    grid-area: d;
}

.cardNews-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.cardNews-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cardNews-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardNews-label {
    position: absolute;
    top: 0.45rem;
    left: 0.45rem;
    background: #089f8a;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.7em;
    color: white;
    padding: 0.5em;
}

.cardNews-title {
    position: absolute;
    left: 1em;
    bottom: 1em;
    color: #ffffff;
    z-index: 5;
    font-family: "Roboto", sans-serif;
    font-weight: 300px;
    font-size: 25px;
    font-weight: bold;
}

.cardNews {
    position: relative;
}

.cardNews:nth-child(2) .cardNews-label {
    background: #ef4e7b;
}

.cardNews:nth-child(3) .cardNews-label {
    background: #1098ad;
}

.cardNews:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}

.cardNews:hover:before {
    filter: blur(3px);
    opacity: 0.7;
}


/* End the three img for the slider  */


/* for search  */

.tb {
    display: table;
    width: 98%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

.inputTextSearch,
.searchButton {
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover {
    margin: 30px 0px 0px -11%;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    transform: scale(0.6);
    background-color: #eee;
    border: 1px solid gray;
    width: 122%;
}

#cover:hover {
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05), 0 5px 20px rgba(0, 0, 0, .05);
}

input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 40px;
    line-height: 1;
    padding-left: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

input[type="text"]::placeholder {
    color: #ccc;
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}

.searchButton {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -8px;
    left: 14px;
    width: 60px;
    height: 60px;
    margin-top: 0;
    border-width: 15px;
    border: 10px solid #d9524a;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.searchButton span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.searchButton span:before,
.searchButton span:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #d9524a;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #d9524a;
    border-radius: 20px;
}

#s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #d9524a;
}


/* End Search  */


/* ////legend///////// */

#fieldset {
    font-family: 'Montserrat';
    border: 1px solid #d9524a;
    margin: 0 26% 25px 26%;
    padding: .35em .625em .75em;
    width: 48%;
}

#fieldset h2 {
    text-align: center;
    font-family: 'Montserrat';

}

#fieldset input {
    text-align: center;
    font-family: 'Montserrat';

}


#fieldset legend {
    text-align: center;
}

#fieldset li {
    font-family: 'Montserrat';
    font-size: 1.3em;
    text-align: center;
}


/* ///// favorate butoon  */

#butTitle {
    text-align: center;
}

.mainDiv {
    text-align: center;
    font-family: 'Allan', cursive;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8em;
    font-weight: 600;
    /* margin-top: 3%; */
}

ul.ks-cboxtags {
    margin: 15px 12.5% 20px 12.5%;
    list-style: none;
    width: 75%;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #000000;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    font-size: 20px;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid #ff8680;
    background-color: #d9524a;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid #e9a1ff;
}


/* End Favorate butoon */